*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{
    position:relative;
     height:100vh;
}

.hero img{
    width:100%;
    display:block;
     height:100%;
    object-fit:cover;
}

.content{
    position:absolute;
    top:20%;
    left:8%;
    color:white;
}

.content h1{
    font-size:60px;
}

.content p{
    margin-top:20px;
    font-size:20px;
}

.content button{
    margin-top:20px;
    padding:12px 25px;
    background:orange;
    color:white;
    border:none;
    border-radius:25px;
    font-size:18px;
    cursor:pointer;
}
.black-text{
    color:yellow;
}
.brand-name{
    font-size: 28px;
    font-weight: bold;
    color: #F4C430;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
}

.products-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
      margin-top:50px;
    padding:20px;
}

.card{
    width: 250px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3{
    margin: 15px 0 10px;
}

.card p{
    padding: 0 15px;
    color: #555;
}

.card button{
    margin: 15px 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #d35400;
    color: white;
    cursor: pointer;
}

.card button:hover{
    background-color: #b34700;
}
.product-page{
    text-align: center;
    padding: 40px;
}

.product-page h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.product-page h2{
    font-size: 28px;
    margin-top: 25px;
}

.product-page p{
    font-size: 20px;
    line-height: 1.8;
    max-width: 800px;
    margin: auto;
}

.product-page ul{
    list-style: none;
    padding: 0;
}

.product-page li{
    font-size: 20px;
    margin: 10px 0;
}

.product-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;

}

@media screen and (max-width:768px){

    .content{
        top: 10%;
        left: 5%;
        width: 90%;
    }

    .content h1{
        font-size: 32px;
        line-height: 1.2;
    }

    .content p{
        font-size: 14px;
    }

    .brand-name{
        font-size: 20px;
    }
      .card{
        width:90%;
        max-width:320px;
    }
     .product-image{
        width:250px;
        height:250px;
    }
}